page-home {
  .home {
    background-color: #d8f0f3;
  }

  .toolbar-background {
    background-color: #488aff;
  }

  .toolbar-title{
    color: #ecf7f9;
    text-align: center;
  }

  .foottitle{
    text-align: center;
  }

  .logo {
    color: #488aff;
    font-size: 22px;
    text-align: center;
  }

  .icone {
    color: #488aff;
    font-size: 250px;
    text-align: center;
  }

}
