page-app{
  .toolbar-background {
    background-color: #488aff;
  }

  .toolbar-title{
    color: #ecf7f9;
  }

  ion-header ion-icon{
    color: #fff;
  }

  .menu-background {
    background-color: #d8f0f3;
  }

  .menu-items{
    background-color: #d8f0f3;
    color: #488aff;
  }

}
